# Very precise
*

# Should be able to bootstrap with a single file.
#!.config/yadm/bootstrap

!.devcontainer/ngenetzky_devcontainer_debian.bash

# Local copy of git repo. Powerfull but...
# WARN: Bad for reproducability/caching.
!.git/
