[submodule ".spf13-vim-3"]
	path = .spf13-vim-3
	url = https://github.com/spf13/spf13-vim.git
[submodule ".dotfiles"]
	path = .dotfiles
	url = https://github.com/NGenetzky/dotfiles.git
[submodule ".local/share/bash_it"]
	path = .local/share/bash_it
	url = https://github.com/Bash-it/bash-it.git
