# ~/.gitignore

################################################################################
# gitignore_home_dirs_0

/.F5Networks/
/.bash_it/
/.mozilla/
/.oh-my-bash/
/.oh-my-zsh/
/.pylint.d/
/.tmux/plugins/
/.vim/bundle/
/.vim/spf13-vim/
/.vscode-server/bin/
/.vscode-server/data/
/.vscode-server/extensions/
/.vscode-server/extensionsCache/


################################################################################
# gitignore_home_dirs_1

/.cache/
/.config/
/.local/bin/
/.local/share/
/.local/src/

################################################################################
# gitignore_home_files_0

/.ICEauthority
/.bash_history
/.bash_history
/.osh-update
/.sdirs
/.ssh/known_hosts
/.sudo_as_admin_successful
/.vim/.netrwhist
/.vim/autoload/plug.vim
/.viminfo
/.viminfo

################################################################################
# gitignore_home_files_1
#

.lesshst
.zsh_history
.xsession-errors
.Xauthority
.gnupg
